<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script>
        function validateForm() {
         let x = document.forms["myForm"]["content"].value;
         if (x == "") {
            alert("Task must be filled out on the input box!");
            return false;
          }
       }
    </script>
    
    {% block head %}Todo test Home{% endblock %}
</head>


<body>
    <div class="containor">
        <div class="jumbotron">
            <div>
            <h1 class="text1">This is : {{pagetitle}} by {{name}}</h1> </br>
            </div>
            <div class="page">
                <a href="/">index</a> || 
                <a href = "/about">About</a> || 
                <a href = "/todo">ToDo</a>
            </div>
        </div>


        {% block body %}

        {% endblock %}
    </div>
   
</body>
</html>